apiVersion: v1
kind: Service
metadata:
  name: gke-app-service
  namespace: nasir
  labels:
    app: gke-app
spec:
  selector:
    app: gke-app 
  ports:
    - protocol: TCP
      port: 80 
      targetPort: 8000 
  type: LoadBalancer 