name: Deploy upload.nasir.id

on:
  push:
    paths:
      - 'apps/upload-nasir-id/**'
      - '.github/workflows/app-upload-nasir-id.yml'
    branches:
      - main    
  pull_request:
    paths:
      - 'apps/upload-nasir-id/**'
      - '.github/workflows/app-upload-nasir-id.yml'      
    branches:
      - main

jobs:
  deploy-nasir-id:
    runs-on: [self-hosted, contabo]
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Deploy to upload.nasir.id
    #   if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master')
      env:
        SSH_PASSWORD: ${{ secrets.SSH_PASSWORD }}
      run: |
        echo "Remove existing code"
        echo "$SSH_PASSWORD" | sudo -S rm -rf "/var/www/html/upload/*"  
        echo "$SSH_PASSWORD" | sudo -S cp -r apps/upload-nasir-id/**  "/var/www/html/upload/"  