name: Test Config

on:
  push:
    paths:
      - '.github/workflows/test.yml'
    branches:
      - main
  pull_request:
    paths:
      - '.github/workflows/test.yml'
    branches:
      - main

jobs:
  deploy-nginx:
    runs-on: [self-hosted, contabo]
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: test
      run: cat .git/config
 
